<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Los Simpson</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
    <ion-img src="https://www.latercera.com/resizer/Fp1X0wfNPWk0RA4Lr5cSwDZ2JNU=/900x600/filters:focal(895x605:905x595)/cloudfront-us-east-1.images.arcpublishing.com/copesa/KKSRXW2LGFH4PKP5VOVWEQTKXY.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
    <strong class="capitalize">WELCOME</strong>
   
  </div>
</ion-content>
